footer.footer {
  max-width: calc(1920px - 250px);
  margin: auto;
  padding: 100px;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    &>div {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 4rem;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 50px;
  }
  .socials {
    background-image: url('/assets/icons/social-media-icons-sprite-image-dark.svg');
    height: 26px;
    &:nth-of-type(1) {
      background-position: 0 0;
      width: 27px;
    }
    &:nth-of-type(2) {
      background-position: -50px 0;
      width: 40px;
    }
    &:nth-of-type(3) {
      background-position: -110px -1px;
      width: 25px;
    }
    &:nth-of-type(4) {
      background-position: 60px 0px;
      width: 26px;
    }
    &:nth-of-type(5) {
      background-position: 14px 0;
      width: 13px;
    }
  }
}

.footer-low {
  max-width: calc(1920px - 250px);
  margin: auto;
  padding: 25px 100px;
  @media screen and (max-width: 768px) {
    padding: 25px;
  }
  @media screen and (max-width: 425px) {
    flex-direction: column !important;
  }
}